/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
  
#backgroundVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

main {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #d9d3d3;
    width: 100%;
    padding: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
  
ul {
    list-style: square;
}